@font-face {
  font-family: "Satoshi";
  src: url(/fonts/Satoshi-Regular.ttf);
}
@font-face {
  font-family: "Satoshi-light";
  src: url(/fonts/Satoshi-Light.ttf);
}
@font-face {
  font-family: "Satoshi-bold";
  src: url(/fonts/Satoshi-Bold.ttf);
}
@font-face {
  font-family: "Satoshi-medium";
  src: url(/fonts/Satoshi-Medium.ttf);
}
body {
  font-family: "Satoshi";
}

.container {
  background-color: #F7F8F8;
  padding: 0 20px;
  margin: 10px auto;
  border-radius: 80px;
}

a {
  color: #050F27;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.nav-link {
  font-size: calc(0.25rem + 0.75vw);
}

.btn-dark {
  font-size: calc(0.25rem + 0.75vw);
}

.imgg {
  width: 10vw;
}

.navbar-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  font-size: 1rem;
  line-height: 1;
  height: 1.5rem;
  width: 2rem;
}

.navbar-nav {
  font-family: "Satoshi-medium";
  color: black;
}

.numhead {
  font-family: "Satoshi-medium";
  font-size: calc(0.25rem + 0.75vw);
  margin: 0;
  letter-spacing: -1%;
}

.num {
  font-family: "Satoshi-bold";
  font-size: calc(0.75rem + 1.75vw);
  margin: 0;
}

.numdesc {
  font-family: "Satoshi";
  font-size: calc(0.25rem + 0.75vw);
}

.numplus {
  font-family: "Satoshi-medium";
  font-size: calc(0.5rem + 1.5vw);
}

.form-label {
  font-size: calc(0.25rem + 1vw);
}

.speccall {
  font-size: calc(0.25rem + 1.25vw);
}

.butoc {
  font-size: calc(0.25rem + 1.25vw);
}

h1 {
  font-family: "Satoshi-bold";
  font-size: calc(0.5rem + 6vw);
  line-height: 105%;
  color: #050F27;
}

h2 {
  font-family: "Satoshi-bold";
  font-size: calc(0.5rem + 4vw);
  line-height: 100%;
  color: #050F27;
}

h3 {
  font-family: "Satoshi-bold";
  font-size: calc(0.5rem + 2.5vw);
  line-height: 100%;
  color: #050F27;
}

.servicecol, .review {
  border-radius: 40px;
}

.speccol {
  background-color: #050F27;
}

.servicehead {
  font-family: "Satoshi-medium";
  font-size: calc(0.5rem + 1.8vw);
}

.servicetext {
  font-size: calc(0.5rem + 0.5vw);
}

.tooltip-inner {
  background-color: #050F27;
  opacity: 70%;
  color: #ffffff;
  font-family: "Satoshi";
  font-size: calc(0.5rem + 0.5vw);
  border-radius: 20px;
}

.accordion {
  background-color: #050F27;
}

.accordion-item {
  border-radius: 30px;
  overflow: hidden;
}

.accordion-item:first-child {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.accordion-item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.accordion-button {
  border-radius: 30px 30px 0 0;
}

.accordion-collapse {
  border-radius: 0 0 30px 30px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.carousel-control-prev,
.carousel-control-next {
  width: 32px;
}

.custom {
  font-size: calc(0.5rem + 0.5vw);
}

.custom1 {
  font-size: calc(0.5rem + 0.7vw);
}

input[type=tel] {
  font-family: "Satoshi";
}

input[type=text] {
  font-family: "Satoshi";
}

@media screen and (width > 1024px) {
  .numdesc {
    line-height: 30px;
  }
  .numplus {
    line-height: 105%;
  }
  .container {
    border-radius: 80px;
  }
  .servicehead {
    line-height: 35px;
  }
}
@media screen and (1024px >= width > 768px) {
  .numdesc {
    line-height: 15px;
  }
  .numplus {
    line-height: 105%;
  }
  .container {
    border-radius: 60px;
  }
  .servicehead {
    line-height: 27px;
  }
}
@media screen and (768px >= width > 376px) {
  .numdesc {
    line-height: 12px;
  }
  .numplus {
    line-height: 105%;
  }
  .container {
    border-radius: 30px;
  }
  .numdesc {
    margin-bottom: 5px;
  }
  .servicecol {
    border-radius: 20px;
  }
  .servicehead {
    line-height: 22px;
    margin-top: 15px;
    margin-right: 0px;
  }
  .servicetext {
    line-height: 15px;
  }
  .serviceh2 {
    margin-top: 25px;
  }
  .servicecol {
    width: 50%;
    float: left;
  }
  .servicecol:last-child {
    width: 100%;
    float: none;
  }
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    width: 350px;
  }
  .modal-header {
    padding: 10px 16px;
  }
  .modal-body {
    padding: 10px 16px 0 16px;
  }
  .modal-footer {
    padding: 10px 16px;
  }
  .speccall {
    margin-bottom: 0px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 24px;
  }
  .tooltip-inner {
    font-size: 11px;
    border-radius: 15px;
    max-width: 150px;
  }
}
@media screen and (width <= 376px) {
  .numdesc {
    line-height: 8px;
    font-size: 6px;
  }
  .numplus {
    line-height: 12px;
    font-size: 10px;
    margin-bottom: 5px;
  }
  .container {
    border-radius: 30px;
  }
  h3 {
    font-size: 15px;
    margin-bottom: 5px;
  }
  .num {
    font-size: 12px;
  }
  .numhead {
    font-size: 6px;
  }
  .numdesc {
    margin-bottom: 5px;
  }
  .servicecol {
    border-radius: 20px;
  }
  .servicehead {
    line-height: 16px;
    margin-top: 15px;
    margin-right: 0px;
  }
  .servicetext {
    line-height: 10px;
    font-size: 7px;
  }
  .serviceh2 {
    margin-top: 25px;
  }
  .servicecol {
    width: 50%;
    float: left;
  }
  .servicecol:last-child {
    width: 100%;
    float: none;
  }
  .modal-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    width: 240px;
  }
  .modal-header {
    padding: 6px 10px;
  }
  .modal-body {
    padding: 0px 10px 0 10px;
  }
  .modal-footer {
    padding: 0px 10px;
  }
  .speccall {
    margin-bottom: 0px;
  }
  .butoc {
    padding: 5px 10px;
  }
  .container {
    border-radius: 20px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    width: 14px;
  }
  .review {
    border-radius: 20px;
  }
  .custom {
    line-height: 8px;
    font-size: 7px;
  }
  .custom1 {
    line-height: 10px;
    font-size: 8px;
  }
  .accordion-item {
    border-radius: 15px;
    overflow: hidden;
  }
  .accordion-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .accordion-item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .accordion-button {
    border-radius: 15px 15px 0 0;
  }
  .accordion-collapse {
    border-radius: 0 0 15px 15px;
  }
  .accordion-body {
    padding: 10px 20px;
  }
  .speccontact {
    padding: 4px 8px;
    margin-bottom: 10px;
  }
  .navbar-toggler {
    height: 1rem;
    width: 1.5rem;
  }
  .tooltip-inner {
    font-size: 6px;
    border-radius: 10px;
    max-width: 130px;
  }
}/*# sourceMappingURL=main.css.map */